<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.CommentMapper">
	<!-- commentList 출력 -->
	<select id="selectComment" parameterType="int" resultType="java.util.Map">
		SELECT 
			comment_no commentNo,
			notice_no noticeNo,
			member_id memberId,
			is_secret isSecret,
			comment_content commentContent,
			createdate createdate
		FROM comment
		WHERE notice_no= #{noticeNo}
	</select>
	
	<!-- comment 추가 -->
	<insert id="insertComment" parameterType="com.example.diary.vo.Comment">
		INSERT INTO comment(
				notice_no,
				member_id,
				comment_content,
				is_secret
		)VALUES(
				#{noticeNo},
				#{memberId},
				#{commentContent},
				#{isSecret}
		)
	</insert>
	
	<!-- comment 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE 
		FROM comment
		WHERE comment_no = #{commentNo}
	</delete>
	
	<!-- commentOne 출력 -->
	<select id="selectCommentOne" parameterType="int">
		SELECT 
			comment_no commentNo,
			notice_no noticeNo,
			member_id memberId,
			is_secret isSecret,
			comment_content commentContent,
			createdate createdate
		FROM comment
		WHERE comment_no= #{commentNo}
	</select>
	
	<!-- comment 수정 -->
	<update id="updateComment" parameterType="com.example.diary.vo.Comment">
		UPDATE comment SET
			comment_content = #{commentContent}
		WHERE comment_no = #{commentNo}
	</update>
	
	<!-- notice삭제시 하위 comment삭제 -->
	<delete id="deleteByNotice" parameterType="int">
		DELETE 
		FROM comment
		WHERE notice_no = #{noticeNo}
		
	</delete>
	
</mapper>