<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.ScheduleMapper">
	
	<select id="selectScheduleListByWord" parameterType="String" resultType="com.example.diary.vo.Schedule">
		SELECT 
			schedule_no scheduleNo,
			schedule_memo scheduleMemo
		FROM
		schedule
		<where>
			<if test="word != null and word != ''"><!-- test안에는 java변수이다 (표현식을 가지고 있음), 태그안에서는 #{}안해도 됨 -->
				schedule_memo LIKE CONCAT('%',#{word},'%')
			</if>
		</where>
		<!-- where안에 if문을 여러개 가질 수 있음 하나라도 true라면 where절이 자동으로 생김 -->
		LIMIT 0,10
	</select>
	
	<!-- view -->
	<select id="selectScheduleDateMaxYear" resultType="Integer">
		SELECT MAX(YEAR(schedule_date))
		FROM schedule
	</select>
	
	<select id="selectScheduleDateMinYear" resultType="Integer">
		SELECT MIN(YEAR(schedule_date))
		FROM schedule
	</select>
	
	<select id="selectScheduleListByDate" resultType="com.example.diary.vo.Schedule" parameterType="java.util.Map">
		SELECT
			schedule_no scheduleNo,
			schedule_date scheduleDate,
			schedule_memo scheduleMemo
		FROM schedule
		<where>
			<choose>
				<when test="year != null and month == null and day == null">
					YEAR(schedule_date) = #{year}
				</when>
				<when test="year != null and month != null and day == null">
					YEAR(schedule_date) = #{year}
					AND MONTH(schedule_date) = #{month}
				</when>
				<when test="year != null and month != null and day != null">
					YEAR(schedule_date) = #{year}
					AND MONTH(schedule_date) = #{month}
					AND DAY(schedule_date) = #{day}
				</when>
			</choose>
		</where>
		 LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectScheduleByMonthCnt" parameterType="Map" resultType="java.util.Map">
		SELECT
    		DAY(schedule_date) AS scheduleDay,
    		COUNT(*) AS cnt,
    		GROUP_CONCAT(schedule_emoji) AS scheduleEmoji
		FROM schedule
		WHERE member_id = #{memberId}
    	AND YEAR(schedule_date) = #{targetYear}
    	AND MONTH(schedule_date) = #{targetMonth} + 1
		GROUP BY schedule_date
		ORDER BY schedule_date ASC;
	</select>
	
	<select id="selectScheduleOneListByDay" parameterType="Map" resultType="com.example.diary.vo.Schedule">
		SELECT
  			schedule_date scheduleDate,
   			schedule_memo scheduleMemo,
   			schedule_emoji scheduleEmoji,
   			schedule_no scheduleNo,
   			createdate
		FROM schedule
		WHERE schedule_date = CONCAT(#{year},'-',#{month},'-',#{day})
	</select>
	
	<insert id="insertSchedule" parameterType="com.example.diary.vo.Schedule">
		INSERT INTO schedule(
			member_id,
			schedule_date,
			schedule_memo,
			schedule_emoji
		) VALUES(
			#{memberId},
			#{scheduleDate},
			#{scheduleMemo},
			#{scheduleEmoji}
		)
	
	</insert>

</mapper>